.nav-arrows {
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.nav-arrows button {
  background: transparent;
  color: #fff;
  border: 1px solid #fff;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.nav-arrows button:hover {
  background: #fff;
  color: #000;
}

.movie-info-card {
  max-width: 500px;
  border: 1px solid #fff;
  padding: 2rem;
  border-radius: 10px;
  text-align: left;
}
